# dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/

# production build
build/

# environment variables
.env
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# misc
.DS_Store
*.pem
Thumbs.db
